# Ignore the log files which also include my progress log or any other log dump
**/logs/

# Ignore the tests dir
tests/

# Ignore env
/*env

# Ignore hidden dirs
**/.*

# But do not ignore .github
!.github

# Python packaging
oldie_goldie/oldie_goldie.egg-info/
*.egg-info/

**/dist/
build/
## Ignore the cache files
**/__pycache__
*.pyc

# Ignore static site files generated my mkdocs

**/site/
oldie_goldie/oldie_goldie.egg-info/PKG-INFO
oldie_goldie/oldie_goldie.egg-info/requires.txt
