site_name: Oldie Goldie
site_url: https://venukotamraju.github.io/Oldie-Goldie/
repo_url: https://github.com/venukotamraju/Oldie-Goldie
repo_name: Oldie-Goldie
edit_uri: edit/main/docs/

theme:
  name: material
  favicon: assets/images/favicon/favicon_io/favicon.ico
  logo: assets/images/oldie-goldie-logo.svg
  palette:
    - scheme: slate           # Dark mode as default
      primary: black
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default         # Light mode option
      primary: green
      accent: green
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  features:
    - navigation.expand
    - navigation.top
    - navigation.instant
    - navigation.tracking
    - navigation.footer
    - toc.integrate
    - content.code.copy
    - content.action.edit
    - content.tabs.link
    - content.code.annotate
    - search.suggest
    - search.highlight

copyright: Copyright &copy; 2025 - 2026 <a href="https://venukotamraju.vercel.app" target="_blank">Venu kotamraju</a>, under the <a href="https://beinghumancult.blogspot.com" target="_blank">Being Human Cult (BHC)</a> initiative.

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - admonition
  - footnotes
  - def_list
  - codehilite
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.magiclink
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true

nav:
  - Home: index.md
  - Usage: usage.md
  - Developer Guide: developer-guide.md
  - Changelog: changelog.md
  - Python Compatibility: python-compatibility.md

