site_name: Oldie Goldie
site_url: https://venukotamraju.github.io/Oldie-Goldie/
repo_url: https://github.com/venukotamraju/Oldie-Goldie
repo_name: Oldie-Goldie
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    - scheme: default
      primary: amber
      accent: deep purple
  features:
    - navigation.expand
    - navigation.top
    - toc.integrate
    - content.action.edit
    - content.code.copy

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - footnotes
  - def_list

nav:
  - Home: index.md
  - Usage: usage.md
  - Developer Guide: developer-guide.md
  - Changelog: changelog.md
